html {
  overflow:hidden;
}
/*Home page */

body {
  color: white;
  cursor: default;
}

body::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 for Webkit browsers */
  height: 0; 
  display: none; /* Hides the scrollbar */
}

body p {
  opacity: 90%;
}

a {
  color: white;
}

@media (min-width: 1050px) and (min-height: 500px){

  .main {
    padding-right: 10%;
  }

  .home_container {
    grid-template-columns: 35% 65%;
    margin-left: 17%;
    grid-template-rows: 1fr auto;
  }

  .headers {
    font-size: 60px !important;
  }

  .content {
    padding-right: 27% !important;
  }

  .main-header {
    position: absolute;
    top:15%;
  }

  .anchors {
    position:absolute;
    top:35%;
  }

  .bottom-desc {
    bottom:5%;
    position: absolute;
  }

  /* .socials {
    bottom:25%;
    position: absolute;
  }

  .website-description {
    position: absolute;
    bottom:15%;
  } */

  .project {
    grid-template-columns: 60% 40%;
  }

  .image {
    margin-left:10%;
    text-align: right;
  }
}

.header{
  color: white;
  font-size: 30px;
  cursor: 'default';
}

.headers {
  font-family: "Helvetica";
  font-size: 40px;
  letter-spacing: 0.1px;
  word-spacing: 2px;
  color: #def3fc;
  font-weight: 700;
}

.headers button {
  background: none;
  padding:0;
  border: none;
  cursor: default;
  color: inherit;
  font: inherit;
}

.headers h2 {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 100;
}

.short-description p {
  color:white;
  font-size: 20px;
}

.home_container {
  position: absolute;
  height:100vh;
  text-align: left;
  justify-content: left;
  display: grid;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap onto multiple lines */
  justify-content: center;
  /* Center the items horizontally */
  gap: 15px;
  /* Add some space between the items */
  margin-left: 0px;
}

.skills-list p {
  font-size: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.155);
  padding: 15px;
  border-radius: 20px;
  margin: 0.5px;
  font-weight: bold;
}

.main {
  padding-right: 10%;
  margin-top: 10%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left; 
  height: 100vh; 
  min-height: 300px; /* Ensures a minimum height to avoid the elements being too close on very small screens */
  padding: 0 20px; /* Optional padding for smaller screens */
}

.main h2 {
  padding-top: 0%;
}

.content {
  scroll-behavior: smooth;
  height:100vh;
  /* padding-top: 10vh; */
  overflow: auto;
  padding-left:10%;
  padding-right:10%;

}

.website-description {
  font-size: 12px;
  opacity:60%;
} 

.anchors {
  line-height: 1.5;
}

.link {
  font-size:30px;
  text-decoration: none;
  transition: font-size 0.1s ease, padding-left 0.1s ease;
}

.link:hover {
  font-weight: bold;
}

.link.active {
  font-weight: bold;
  padding-left:20px;
  font-size: 35px;
}


.links {
  display: flex;
  flex-direction: center;
}

.links a{
  font-size: 30px;
  margin-right:50px;
  opacity: 60%;
  display: flex; /* Flexbox for individual link */
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center align icon and text */
  text-decoration: none; /* Remove underline from links */
}

.links a:hover {
  opacity:100%;
}

.links p {
  font-size: 10px;
  text-decoration: none;
}

/*Project section */

.project {
  position: static;
  display: grid;
  margin-bottom:10%;
}

.description {
  text-align: left;
}

.description a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.description a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  top:30px;
  height: 4px;
  background-color: white;  /* Thickness of the underline */
  transition: width 0.3s ease;   /* Same color as the link */
  /* Control the speed of the animation */
}

.description a:hover::after {
  width: 100%;
}

.skills-used {
  display: flex;
  flex-wrap: wrap;
}

.skills-used p {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom:1px;
  color: white;
  font-weight: bold;
}

.project:hover {
  background-color: rgba(255, 255, 255, 0.156);
  box-shadow: 0 0 20px 30px rgba(255, 255, 255, 0.156);
  border-radius: 5px;
}

.image {
  margin-top:5%;
  margin-bottom: 5%;
}

.image img {
  width: 200px;
  height: auto;
  outline: 3px solid rgba(255, 255, 255, 0.155);
}